<p id="notice"><%= notice %></p>

<h1>Collectioms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collectioms.each do |collectiom| %>
      <tr>
        <td><%= collectiom.title %></td>
        <td><%= link_to 'Show', collectiom %></td>
        <td><%= link_to 'Edit', edit_collectiom_path(collectiom) %></td>
        <td><%= link_to 'Destroy', collectiom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collectiom', new_collectiom_path %>
